<!DOCTYPE html>
<html ng-app="Testing">
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  <script type="text/javascript" src="/javascripts/angular.js"></script>
  <script type="text/javascript" src="/javascripts/bootstrap.js"></script>
</head>
<body>
<h1><%= JSON.stringify(email)%></h1>
  <h1><%= JSON.stringify(uname)%></h1>
    <h1><%= JSON.stringify(pass)%></h1>
    <p><%= "hello : "+ JSON.stringify(reqdata.body)%></p>

</body>
</html>

